table {
    width: 100%;
    border-collapse: collapse;
}
td {
    padding: 5px;
}
input, select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
textarea {
    height: 100px;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
}