body {
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 1200px;
    background: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    vertical-align: top;
    padding: 20px 40px; 
}
.about-col {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.about-text {
    font-size: 100px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.08);
    text-transform: uppercase;
    text-align: center;
    rotate: -90deg;
    white-space: nowrap;
    position: absolute;
    left: -120px; 
    top:35%;
}


.content-wrapper {
    flex-grow: 1;
    padding-left: 40px; 
}

.title {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 18px;
    color: #777;
    margin-bottom: 25px;
}

h3 {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.highlight {
  
    font-weight: 700; 
    font-size: 26px; 
}
.description p {
    font-size: 22px; 
}


.description {
    font-size: 16px;
    color: #555;
    max-width: 550px;
    line-height: 1.8;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 8px 20px;
    background: #007bff;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
  
    width: auto;
}

.btn:hover {
    background: #0056b3;
    transform: translateY(-3px);
}

.info-section {
    text-align: left;
    max-width: 350px;
}

.profile-pic {
    width: 130px;
    height: 130px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    background: #d3d3d3; 
    padding: 5px; 
    
}

.info-box {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.6;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
